$colRed: rgb(206, 26, 37);
$colYel: rgb(252, 220, 48);

body {
    $input: 0;
    // border: 1px solid greenyellow;
    width: 100%;
    position: relative;

    
    
    >div {
        // border: 1px solid aqua;
        position: fixed;
        width: 100%;
        height: 200px;
        z-index: 100;
    
        
    #click:checked~.head_offer{
        top: 0;
        transition: 1s ease;
    }
    
        .head_offer {
            border: 1px solid red;
            width: 100%;
            background-color: $colRed;
            display: flex;
            justify-content: center;
            position: absolute;
            top: -250px;
            left: 0;
            z-index: 10;
            transition: 1s ease;

            h3 {
                padding: 80px 0;
                height: 200px;
                display: flex;
                flex-wrap: nowrap;

                &:nth-of-type(1) {
                    color: #fff;
                }

                &:nth-of-type(2) {
                    color: $colYel;
                }

            }
        }
        
        >input {
            // border: 1px solid aqua;
            width: 50px;
            height: 50px;
            opacity: 0;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 10000;
            transition: 1s ease;

            &:checked{
                top: 270px;
                transition: 1s ease;
            }
        }

        >label {
            display: flex;
            // border: 1px solid aqua;
            justify-content: center;
                align-items: center;
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: $colRed;
            border-radius: 50px;
            color: #fff;
            font-size: 24px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
            top: 20px;
            right: 20px;
            // z-index: 1000;
            transition: 1s ease;
        }


        
    }

    #click:checked~label{
        top: 220px;
        transition: 1s ease;
        transform: rotate(-45deg);
    }

   

}


.head {
    width: 100%;
    height: 110vh;
    background-color: #000000;
    background-image: url(../img/home-background-hero-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    >* {
        width: 100%;
    }

    >header {
        // border: 1px solid white;
        height: 20%;
        position: relative;
        align-items: center;
        // z-index: 1000000;

        >figure {
            // border: 1px solid aqua;
            width: 30%;
            align-items: center;
            justify-content: center;
            padding-left: 7%;
            padding-top: 24px;
            height: 100%;

            >img {
                // border: 1px solid aqua;
                width: 250px;
            }


        }

        >nav {
            // border: 1px solid red;
            width: 65%;
            justify-content: end;


            >ul {
                // border: 1px solid aqua;
                width: 100%;
                justify-content: end;
                align-items: center;
                padding-right: 120px;
                height: 100%;



                >li {
                    // border: 1px solid aqua;
                    align-items: center;
                    margin-left: 50px;
                    margin-top: 25px;

                    &:nth-of-type(1)>a {
                        color: $colYel;
                    }

                    &:nth-of-type(1)>a::after {
                        content: '^';
                        // background-color: red;
                        transform: rotate(180deg) !important;
                        font-style: 8px;
                    }

                    >a {
                        // border: 1px solid aqua;
                        height: 80px;
                        align-items: center;
                        font-size: 16px;
                        color: white;
                        font-weight: bolder;


                    }
                }
            }
        }



        >article {
            width: 40%;
            height: 700px;
            // border: 1px solid red;
            padding-left: 10%;
            padding-top: 120px;
            align-items: start;
            flex-direction: column;
            // position: relative;

            >h1,
            h2,
            h3 {
                // border: 1px solid aqua;
                width: 100%;
                font-family: Barlow, Arial, Helvetica, sans-serif;
                text-transform: capitalize;
                color: white;
                font-size: 80px;
                margin-bottom: 5px;
                font-weight: bolder;

            }

            >h3 {
                font-size: 40px;
                align-items: end;
                // letter-spacing: -5px;
            }

            >h1 {
                color: $colYel;
                letter-spacing: -5px;
            }

            h2 {
                letter-spacing: -5px;
            }

            >div {
                // border: 1px solid aqua;
                margin: 20px 0;
                width: 200px;
                height: 40px;
                background-color: $colRed;
                border-radius: 40px;
                justify-content: center;
                align-items: center;



                >a {
                    // border: 1px solid aqua;
                    width: 180px;
                    height: 100%;
                    text-transform: uppercase;
                    font-size: 14px;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-weight: bolder;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

.advnt {
    border: 1px solid black;
    width: 80%;
    height: 160px;
    background-color: #fff;
    margin: -40px auto;
    margin-bottom: 40px;

    >ul {
        // border: 1px solid black;
        width: 100%;
        margin: 10px auto;
        justify-content: center;

        >li {
            // border: 1px solid black;
            width: 25%;
            justify-content: space-evenly;
            align-items: center;
            text-transform: uppercase;
            font-weight: bold;
            color: rgb(74, 78, 87);
            font-size: 15px;
        }
    }
}


.gallery {
    // border: 1px solid black;
    width: 100%;
    height: 120vh;
    justify-content: center;
    // background-image: url(../img/offer.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;

    >h2 {
        // border: 1px solid red;
        width: 100%;
        height: 100px;
        text-transform: capitalize;
        font-size: 40px;
        letter-spacing: -2px;
        // margin: 20px auto;
        align-items: center;
        justify-content: center;


    }

    >section {
        // border: 1px solid red;
        width: 80%;
        height: 66.5vh;
        justify-content: space-between;
        margin-top: -120px;


        >figure {
            // border: 1px solid aqua;
            width: 31.5%;
            height: 540px;
            position: relative;
            background-color: #17171700;
            // overflow: hidden;

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                background-color: #17171700;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                // border: 1px solid purple;
            }

            &:hover::after {
                background-color: #17171750;
                position: absolute;
                top: 0;
                left: 0;
                transition: 1s;
            }

            &:hover>.link {
                opacity: 1;
            }

            >* {
                width: 100%;
            }

            >img {
                // border: 1px solid black;
                object-fit: cover;
                height: 100%;
                position: relative;


            }


            .link {
                // border: 1px solid green;
                position: absolute;
                top: calc(50% - 5px);
                right: 0;
                justify-content: center;
                opacity: 0;
                transition: 1s;
                z-index: 10;

                >a {
                    // border: 1px solid black;
                    // background-color: red;
                    height: 20px;
                    color: white;
                    text-transform: uppercase;
                    font-size: 12px;

                    &:nth-of-type(1)::after {
                        content: ' / ';
                    }

                }

            }

        }
    }

    .product {
        // border: 1px solid black;
        flex-direction: column;
        width: 31.5%;


        >a {

            // border: 1px solid black;
            // display: flex;
            height: 60px;
            justify-content: center;
            align-content: center;
            font-size: 28px;
            letter-spacing: -1px;
            font-weight: bolder;
            cursor: pointer;

            &:hover {
                color: $colRed;
                transition: .5s;
            }
        }

        >p {
            // border: 1px solid black;
            height: 50px;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            color: $colRed;
        }
    }

    >div {
        // border: 1px solid black;
        width: 50%;
        justify-content: center;
        height: 80px;
        align-items: center;
        // margin-top: -40px;


        >a {
            height: 50px;
            width: 250px;
            background-color: $colRed;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

.offer {
    width: 100%;
    height: 50vh;
    background-image: url(../img/offer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


.menu {
    width: 100%;
    height: 110vh;
    border: 1px solid black;
    justify-content: center;


    >.top {
        // border: 1px solid red;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        height: 200px;
        align-items: end;
        position: relative;

        >h2 {
            // border: 1px solid black;
            align-items: end;
            text-transform: capitalize;
            font-size: 40px;
            letter-spacing: -2px;
            margin-bottom: 40px;

        }

        >div {

            // border: 1px solid red;
            width: 236px;
            height: 36px;
            margin: 0;
            background-color: $colRed;
            position: absolute;
            right: 10%;
            bottom: calc(40% - 20px);
            border-radius: 40px;

            >a {
                // border: 1px solid black;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                color: white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
    }

    >.cat {
        // border: 1px solid black;
        width: 80%;
        height: 50%;
        justify-content: space-between;
        align-content: space-between;
        // margin-top: -100px;


        >figure {
            // border: 1px solid black;
            width: 287.5px;
            height: 192.5px;
            justify-content: space-between;
            position: relative;

            >img {
                width: inherit;
                height: inherit;
                object-fit: cover;


            }



            >figcaption {
                border: 1px solid black;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: #17171750;

                >a {
                    display: flex;
                    width: inherit;
                    height: inherit;
                    color: white;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }

    >.ingredient {
        width: 80%;
        // border: 1px solid black;
        justify-content: center;
        margin: 12px auto;
        justify-content: space-between;

        >.icon {
            justify-content: space-between;
            width: 20%;

            >figure {
                // border: 2px solid red;
                // flex-grow: 1;
                width: 100%;
                flex-grow: 1;
                justify-content: center;
                align-items: start;
                height: 100%;
                padding-top: 24px;

                >img {

                    width: 80px;
                    height: 80px;
                    justify-content: center;
                    align-items: center;
                }

                >figcaption {
                    display: flex;
                    // border: 2px solid red;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: capitalize;
                }
            }
        }
    }
}

.app {
    width: 100%;
    height: 65vh;
    background-image: url(../img/app.jpg);
    background-size: cover;

    >.download {
        display: flex;
        // border: 1px solid white;
        width: 50%;
        height: 100%;
        padding-left: 10%;
        padding-top: 136px;
        align-items: start;

        >h3 {
            // border: 1px solid white;
            width: 100%;
            height: 30px;
            color: white;
            font-size: 28px;
            text-transform: capitalize;
            display: flex;
            align-items: start;
        }

        >h2 {
            // border: 1px solid white;
            width: 100%;
            height: 60px;
            color: $colYel;
            font-size: 72px;
            text-transform: capitalize;
            display: flex;
            margin-top: -20px;
            letter-spacing: -5px;

        }

        >.btn {
            width: 100%;
            height: 70%;
            // border: 1px solid white;
            align-items: center;

            >figure {
                display: flex;
                margin-right: 25px;
                margin-bottom: 50px;
                width: 180px;
                height: 60px;

                >a {

                    width: inherit;
                    height: inherit;


                    >img {
                        width: inherit;
                        height: inherit;
                    }
                }
            }
        }
    }
}

.blog {
    width: 100%;
    height: 120vh;
    // border: 1px solid black;
    justify-content: center;

    >.top {
        // border: 1px solid red;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        height: 200px;
        align-items: end;
        position: relative;

        >h2 {
            // border: 1px solid black;
            align-items: end;
            text-transform: capitalize;
            font-size: 40px;
            letter-spacing: -2px;
            margin-bottom: 40px;

        }

        >div {


            width: 236px;
            height: 36px;
            // margin: 0;
            background-color: $colRed;
            position: absolute;
            right: 10%;
            bottom: calc(40% - 20px);
            border-radius: 40px;

            >a {
                // border: 1px solid black;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                color: white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
    }

    .post {
        width: 100%;
        // border: 1px solid black;
        height: 65%;
        padding-left: 10%;
        padding-right: 10%;
        justify-content: space-between;
        margin-top: 24px;



        >div {
            width: 48%;
            // border: 1px solid $colRed;

            >figure {
                // border: 1px solid black;
                width: 100%;
                height: 440px;
                overflow: hidden;
                position: relative;

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: #17171700;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 5;
                    // border: 1px solid purple;
                }

                &:hover::after {
                    background-color: #17171750;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: 1s;
                }

                >a {
                    // border: 1px solid black;
                    width: 100p;
                    height: inherit;
                    position: absolute;

                    >img {
                        width: inherit;
                        height: inherit;
                    }
                }
            }

            .text {
                justify-content: center;
                align-items: center;

                >a {
                    // border: 1px solid black;
                    display: flex;
                    height: 60px;
                    // justify-content: center;
                    align-content: center;
                    font-size: 36px;
                    letter-spacing: -1px;
                    font-weight: bolder;
                    cursor: pointer;

                    &:hover {
                        color: $colRed;
                        transition: .5s;
                    }
                }

                >p {
                    // border: 1px solid black;
                    justify-content: center;
                    align-content: center;
                    text-align: center;
                }
            }
        }
    }

}

.foot {
    width: 100%;
    height: 150vh;
    background-image: url(../img/footer.jpg);
    background-size: cover;
    flex-direction: column;
    // border: 1px solid red;
    font-size: 12px;
    font-weight: bold;



    >.map {
        // border: 1px solid red;
        width: 80%;
        margin: 100px auto;
        text-transform: uppercase;
        height: 500px;
        position: relative;


        >* {
            // border: 1px solid red;
            width: 240px;
            color: white;
        }

        >ul.order {
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-content: start;

            >div {
                // border: 1px solid blue;
                padding-left: 24px;
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
            }

            >li {
                height: 50px;
                border-bottom: 1px solid rgb(50, 50, 50);
                width: 95%;
                display: flex;
                align-items: end;
                padding-left: 12px;

                >a {
                    width: 100%;
                    // border: 1px solid white;
                    padding-left: 12px;
                    display: flex;
                    height: 20px;
                    align-items: center;

                    &:hover {
                        color: $colYel;
                        transition: .4s;
                    }
                }
            }
        }


        >ul.navigate {

            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-content: start;


            >div {
                // border: 1px solid blue;
                padding-left: 24px;
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
            }

            >li {
                padding: 0;
                height: 50px;
                border-bottom: 1px solid rgb(50, 50, 50);
                width: 95%;
                display: flex;
                align-items: end;
                padding-left: 12px;

                >a {
                    // border: 1px solid white;
                    width: 100%;
                    padding-left: 12px;
                    display: flex;
                    height: 20px;
                    align-items: center;

                    &:hover {
                        color: $colYel;
                        transition: .4s;
                    }
                }
            }
        }

        >ul.info {
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-content: start;


            >div {
                // border: 1px solid blue;
                padding-left: 24px;
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
            }

            >li {
                padding: 0;
                height: 50px;
                border-bottom: 1px solid rgb(50, 50, 50);
                width: 95%;
                display: flex;
                align-items: end;
                padding-left: 12px;

                &:nth-of-type(3)~li {
                    border: none;
                    height: 50px;
                    margin-top: 24px;
                }

                >a {
                    // border: 1px solid white;
                    width: 100%;
                    padding-left: 12px;
                    display: flex;
                    height: 20px;
                    align-items: center;

                    &:hover {
                        color: $colYel;
                        transition: .4s;
                    }
                }

                >figure {

                    >a {
                        >img {
                            border: 2px solid white;
                            border-radius: 6px;
                            width: 150px;
                            height: 50px;
                        }
                    }
                }
            }
        }

        >ul.hour {

            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-content: start;

            >div {
                margin-bottom: 24px;
                // border: 1px solid blue;
                padding-left: 18px;
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: start;

            }

            >li {

                height: 25px;
                // border-bottom: 1px solid rgb(50, 50, 50);
                width: 95%;
                display: flex;
                align-items: end;
                padding-left: 12px;

                >h4 {
                    font-size: 14px;
                    text-transform: uppercase;

                    &::after {
                        content: ' - ';
                        width: 5px;
                        height: 5px;
                    }
                }

                >p {
                    font-size: 14px;
                    font-weight: lighter;
                    color: $colYel;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

                    &::before {
                        content: ' ';
                        width: 5px;
                        height: 5px;
                    }
                }
            }
        }

        >ul.coupon {
            // border: 1px solid red;
            align-content: start;
            position: absolute;
            top: 0;
            right: 0;

            >div {
                justify-content: center;
                // border: 1px solid blue;
                // padding-left: 24px;
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            >figure {
                display: flex;
                // border: 1px solid white;
                width: 100%;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                margin: 0;
                flex-wrap: nowrap;
                margin-bottom: 24px;

                >img {
                    width: 167.5px;
                    height: 167.5px;
                    object-fit: contain;

                }
            }

            >.caption {

                >h4 {
                    // border: 1px solid yellow;
                    font-size: 16px;
                    justify-content: center;
                    width: 100%;
                    text-align: center;
                    align-items: center;
                    letter-spacing: -1px;
                    text-transform: capitalize;

                    // height: 28px;
                    &:nth-of-type(2) {
                        color: $colYel;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    >.cta {
        // border: 2px solid white;
        width: 80%;
        margin: -120px auto;
        align-content: start;
        display: flex;
        height: 500px;

        >figure {
            width: 100%;
            margin: 10px auto;
            justify-content: center;
            align-items: center;
            // height: 60px;

            >img {
                width: 20 0px;
                height: 40px;
            }
        }

        >h3 {
            width: 100%;
            justify-content: center;
            align-items: center;
            color: $colYel;
            font-size: 42px;
            // border: 2px solid white;
            // height: 100px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-weight: bold;
            margin: 24px auto;

        }

        >p {
            width: 100%;
            color: white;
            font-size: 16px;
            justify-content: center;
            align-items: start;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-weight: lighter;
        }

        >input {
            // border: 1px solid blue;
            border-radius: 40px;
            margin: 24px auto;
            width: 48%;
            height: 50px;
            justify-content: center;
            padding: 5px 20px;
            font-size: 18px;

        }

        >.sub {
            // border: 2px solid blue;
            width: 100%;
            margin: 0px auto;

            >a {
                display: flex;
                margin: 0 auto;
                width: 48%;
                height: 50px;
                background-color: $colRed;
                border-radius: 40px;
                color: white;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                font-size: 14px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                letter-spacing: 1px;
            }

        }
    }
    .icon{
        width: 100%;
        height: 30px;
        // border: 1px solid red;
        display: flex;
        color: #fff;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        
        >a{
            // border: 2px solid red;
            margin: 0 15px;
            color: rgba(255, 255, 255, 0.6);

            >:hover{
                color: #fff;
                transition: .4s ease;
            }
        }
    }
}
